<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
  <div class="col-md-12 row">
    <div class="col-md-6"> 
        <h2 [ngClass]="[getColor()]">{{ post.title }}</h2>
    </div>
    <div class="col-md-6 text-right"> 
        <h5 class="date">{{ post.createdAt | date: 'short'}}</h5>
    </div> 
  </div>
  <p> {{ post.content }}</p>
  <button type="button" class="btn btn-success" (click)="increment()" >Love it!</button>
  <button type="button" class="btn btn-danger ml-5" (click)="decrement()">Don't love it!</button>
</li>